# gradle

.gradle/
compiler-output/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# minecraft

run/*
common/run/*
forge/run/*
fabric/run/*
neoforge/run/*
Merged/
#!/common/run/saves
#!/fabric/run/saves
#!/forge/run/saves
#!/neoforge/run/saves
.architectury-transformer/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
build.properties
